img {
	width: 100px;
	height: 100px;
	//Photo by Kelly L from Pexels
}
body {
	background: gainsboro;
	border: 8px solid teal;
	width: 99%;
	height: 99%;
	margin: 10px;
	padding: 20px;
}
h1 {
	color: crimson
}
h2{
	color: olive
}
span {
	color: cadetblue;
}
p {
	color: green
} 
h6 {
	font-size: x-small
}
li {
	color: purple
}
.btn {
	border-radius: 40 px;
}
.btn:hover {
	cursor: pointer;
}

.navbar {
	background-color: bisque;
	height: 105px;
	border-bottom: 1px, solid, black;
	position: relative;
}
.navbar a {
	font-weight: bold;
}
.navbar a: hover {
	cursor: pointer;
}
.navbar-right li {
	border: 2mm solid bisque;
}
