{% extends 'base.html' %}
{% block content %}

<body>
  
    <form method="Get" action="/drinks/random">
      <button type="submit" class="btn btn-success">Get Random Cocktail</button>
    </form>

    <h1>Search for Cocktail</h1>

    <form id="user-add-form" action="/drinks" method="GET">
      {{ searchForm.hidden_tag() }} <!--add type=hidden form fields -->
    
      {% for field in searchForm
             if field.widget.input_type != 'hidden' %}
    
        <p>
          {{ field.label }}
          {{ field }}
    
          {% for error in field.errors %}
            {{ error }}
          {% endfor %}
        </p>
    
      {% endfor %}
    
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>

{% endblock %}