{% extends 'base.html' %}
{% block content %}

<body>
  <h1>{{cocktail.drink.id}}</h1>

  <div class="drink" id="{{cocktail.drink.id}}">
  <h2>{{cocktail.drink.name}}</h2>
    <a href="/cocktail/{{cocktail.drink.id}}"><img src="{{cocktail.drink.image}}"><img></a>
    <h2>Ingredients:</h2>
    <ul>
    {% for ingredient in cocktail.ingredients %}
      <li id="{{ingredient.id}}">{{ingredient.name}}
      {% for drink_ingredient in cocktail.drink_ingredients %}
        {% if drink_ingredient.ingredient_id == ingredient.id %}
        {% if drink_ingredient.drink_id == cocktail.drink.id %}
            <span>, Quantity: {{drink_ingredient.quantity}} {{drink_ingredient.measurement_unit}}</span>
            {% endif %}
            {% endif %}
            {% endfor %}
    </li>
    {% endfor %}
  </ul>
    <h2>Instruction:</h2>
    <p>{{cocktail.drink.instructions}}</p>
    <form method="post" action="/drinks/{{cocktail.drink.id}}/favorites">
      <input type="submit" value="Add Favorite">
    </form>
    <form method="post" action="/drinks/{{cocktail.drink.id}}/comments">
      <textarea name="new_comment"></textarea>
      <input type="submit" value="Add Comment">
    </form> 
  </div>
</body>


{% endblock %}