{% extends 'base.html' %}
{% block content %}

<body>
    {{cocktail}}
  {{drink_ingredients.quantity}}
  {{ingredients.name}}

  <div class="drink" id="{{cocktail.idDrink}}">
  <h2>{{cocktail.name}}</h2>
  <a href="/drinks/{{cocktail.id}}"><img src="{{cocktail.image}}"><img></a>
    <h2>Ingredients:</h2>
    <ul>
    {% for ingredient in cocktail.ingredients %}
      <li id="{{ingredient.name}}">{{ingredient.name}}
        {% if drink_ingredients.id == ingredients.id %}
        {% for quantity in drink_ingredients.quantity %}
          <span>, quantity {{ quantity }} {{ measurement_unit }}</span>
          {% endfor %}
{% endif %}
    </li>
    {% endfor %}
  </ul>
    <h2>Instruction:</h2>
    <p>{{cocktail.instructions}}</p>
    {% for comment in cocktail.comments %}
    <p>Comment: {{ comment.text }}</p>
    {% endfor %}
    <form method="post" action="/drinks/{{cocktail.id}}/favorites">
      <input type="submit" class="btn btn-primary" value="Add Favorite">
    </form>
    <form method="post" action="/drinks/{{cocktail.id}}/comments">
      <textarea name="new_comment"></textarea>
      <input type="submit" class="btn btn-success" value="Add Comment">
    </form> 
  </div>



{% endblock %}
