{% extends 'base.html' %}
{% block content %}

<body>
  <div class="drink" id="{{cocktail.idDrink}}">
  <h2>{{cocktail.name}}</h2>
  <a href="/drinks/{{cocktail.id}}"><img src="{{cocktail.image}}"><img></a>
    <h2>Ingredients:</h2>
    <ul>
    {% for ingredient in cocktail.ingredients %}
      <li id="{{ingredient.name}}">{{ingredient.name}}
        {% for drink_ingredient in drink_ingredients %}
        {% if drink_ingredient.ingredient_id == ingredient.id %}
          <span>- {{ drink_ingredient.quantity }} {{ drink_ingredient.measurement_unit }}</span>
        {% endif %}
        {% endfor %}

    </li>
    {% endfor %}
  </ul>
    <h3>Instruction:</h3>
    <p>{{cocktail.instructions}}</p>
    <h5>Comments:</h5>
    {% for comment in cocktail.comments %}
    <h6>{{ comment.user.username }} @ {{ comment.created_at.strftime("%m/%d/%Y, %H:%M:%S") }}: {{ comment.text }}</h6>
    {% endfor %}
    <form method="post" action="/drinks/{{cocktail.id}}/comments">
      <textarea name="new_comment"></textarea>
      <input type="submit" class="btn btn-success" value="Add Comment">
    </form> 
    <form method="post" action="/drinks/{{cocktail.id}}/favorites">
      <input type="submit" class="btn btn-primary" value="Add Favorite">
    </form>
  </div>



{% endblock %}
