{% extends 'base.html' %}
{% block content %}

<body>
  {% for drink in drinks %}
  <h1>{{drink.id}}</h1>

  <div class="drink" id="{{drink.id}}">
  <h2>{{drink.name}}</h2>
  <a href="/drinks/{{drink.id}}"><img src="{{drink.image}}"><img></a>
  <form method="post" action="/drinks/{{drink.id}}/favorites/delete">
    <input type="submit" class="btn btn-danger" value="Delete">
  </form>
  <h2>Instruction:</h2>
  <p>{{drink.instructions}}</p>
  {% for comment in comments %}
  {% if comment.drink_id == drink.id %}
  <p>Comment: {{ comment.text }}</p>
  {% endif %}
  {% endfor %}
  {% endfor %}
</body>


{% endblock %}
